@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IList<FlickrClone.Models.Picture>


<h2>Authentication with Identity</h2>
<hr />

@if (User.IsSignedIn())
{
    <p>Hello @User.GetUserName()!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />

    }
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}


@foreach (var picture in Model)
{
    <img src="@Html.DisplayFor(x => picture.PictureURL)" height="200" width="200" />
}