@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<FlickrClone.Models.Picture>


<h3>Category Details</h3>

@foreach (var picture in Model)
{
    <img src = "@Html.DisplayFor(x => picture.PictureURL)"/>
}


