@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<FlickrClone.Models.Category>


<h2>Add New Category</h2>
<hr />


@using (@Html.BeginForm("AddCategory", "Category"))
{
    <input name="Category" value="" />
    <button type="submit">Submit</button>
}





@foreach (var category in Model)
{

    @*display-for takes commented out text and transfers to display templates list-category cshtml*@


    @*@Html.DisplayFor(m=>category, "list-category")*@

   @Html.ActionLink(category.CategoryName, "CategoryDetails", new { id = category.CategoryId });

    @using (@Html.BeginForm("Delete", "Category", new { id = category.CategoryId }))
    {
        <button type="submit">Delete</button>
    }
}
    
  
